@model MarketDataBase.Entities.Item

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Create", "Market", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(Model => Model.Name)
                @Html.TextBoxFor(Model => Model.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.Description)
                @Html.TextBoxFor(Model => Model.Description)
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.Vendor)
                @Html.DropDownList("VendorId", ViewBag.Vendors as SelectList, "Select a Vendor")
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        }
        
    </div>
</div>

<div>
   @*  <a asp-action="Index">Back to List</a> *@
</div>
