@using System.Data.Entity
@model IEnumerable<MarketDataBase.Entities.Item>

@{
    ViewData["Title"] = "GAZON";
}

<div class="cards" id="cards">
    @foreach (var @item in Model)
    {
        <div class="card" id="card">
            @if (item.Picture != null)
            {

                <img src="@item.Picture" alt="@item.Name"/>
            }
            else
            {
            <img src="/src/images/UI/png/placeholder.png" alt="Image not Found">

            }
            <div>
                <div class="flex-row space-between">
                    <p class="name">
                        @item.Name
                    </p>
                    <p class="price">
                        @item.Price
                    </p>
                </div>
                <div>
                    <p class="description">
                        @item.Description
                    </p>
                </div>
                @using (Html.BeginForm("Details", "Market"))
                {
                    <input type="hidden" name="id" value="@item.Id"/>
                    <div class="flex-row">
                        <button type="submit" class="button">
                            <p>details</p>
                        </button>
                    </div>
                }
            </div>
        </div>
    }
   
</div>
